
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: black;
}

#header-user-name {
  background-color: rgb(56, 53, 53);
  color: white;
  text-align: right;
  padding: 1% 2% 1% 0%;
}

#user-info-card {
  height: auto;
  width: 95%;
  padding: 5% 0;
  margin: auto;
  border: 2px solid lightgreen;
  background-color: whitesmoke;
  border-radius: 7px;
  display: flex;
  justify-content: space-evenly;
}

#user-info-card-left-section,
#user-info-card-right-section {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

#user-info-card-left-section {
  flex-direction: column;
}

#user-info-card-left-section-top, 
#user-info-card-left-section-bottom {
  display: flex;
  flex-direction: column;
}



#step-goal-card {
  height: auto;
  width: 95%;
  padding: 5% 0;
  margin: auto;
  border: 2px solid lightgreen;
  background-color: whitesmoke;
  border-radius: 7px;
}

#hydration-card {
  height: auto;
  width: 95%;
  padding: 5% 0;
  margin: auto;
  border: 2px solid lightgreen;
  background-color: whitesmoke;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

#hydration-column-container {
  display: flex;
  justify-content: space-evenly;
}

#seven-days-hydration {
  display: flex;
}

#sleep-card {
  height: auto;
  width: 95%;
  padding: 5% 0;
  margin: auto;
  border: 2px solid lightgreen;
  background-color: whitesmoke;
  border-radius: 7px;
}

#sleep-card-content-container{
  display: flex;
}

#sleep-card-left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#sleep-card-left-top-container,
#sleep-card-left-bottom-container {
  display: flex;
  flex-direction: column;
}

#sleep-card-left-top-content,
#sleep-card-left-bottom-content {
  display: flex;
  justify-content: space-evenly;
}

.content-container {
  display: flex;
  flex-direction: column;
}

#sleep-card-right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#seven-days-sleep-hours,
#seven-days-sleep-quality {
  display: flex;
  justify-content: space-evenly;
}